<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />	
	<meta name="Authors" content="" />
	<meta name="Description" content="" />
    <title></title>    
	<link rel="stylesheet" href="../../media/css/style.css" type="text/css" media="screen" /> 
    <link type="text/css" href="../../media/css/ui-lightness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="../../media/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="../../media/js/jquery-ui-1.8.6.custom.min.js"></script>
		<script type="text/javascript" src="../../media/js/jquery.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../media/js/jquery.easing.1.2.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../media/js/jquery.wslide.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				/* visionneuse */
				$("#viewer").wslide({
					width: 698,
					height: 212,
					pos: 1,
					horiz: true,
					duration: 500,
					autolink: 'viewer_navig',
					//effect: 'easeOutElastic'
				});
				$('#tabs').tabs();
			}); 
		</script>
 
  </head>
  <body>
	<div id="container">
    
    	<div id="header">
        	<div id="count">
            	<div id="link">
                	<a href="#"> S'inscrire</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	    |
                </div>
                <div id="logger">
                	Login :    <input name="Login" type="text" size="10" maxlength="150" style="height:12px;"/> &nbsp;
               	 	Mot de passe :    <input name="Login" type="text" size="10" maxlength="150" style="height:12px;" />
                	<input name="OK" type="button" value="OK" style="background-color:#1b242d; color:#F60; border:0,5px solid white; font-size:12,5px;"/>
                </div>
            </div>
            
            <div id="logo">
            <a href="index.html">CinéMac</a>
            </div>
            <div id="slogan">
            La référence cinéma des Imaciens.
            </div>
            
            <div id="ariane">
            {% block ariane %}
            {% endblock ariane %}
            </div>
           
            
            <div id="research">
            Rechercher : <input name="Login" type="text" size="10" maxlength="150" style="height:12px;" />
                	<input name="OK" type="button" value="OK" style="background-color:#1b242d; color:#F60; border:0,5px solid white; font-size:12,5px;"/>
            </div>
        </div>
        
       <div id="centre">
		
            <div id="menu">
           	<ul class="topnav">
            	<li> <a href="#">FILMS </a>
                	 <ul class="subMenu"> 
                        <li><a href="#" title="IMAC1">IMAC 1</a>
                        	<ul class="subsubMenu"> 
                                <li><a href="#" title="Matiere1">Matiere 1</a></li> 
                                <li><a href="#" title="Matiere2">Matiere 2</a></li> 
                                <li><a href="#" title="Matiere3">Matiere 3</a></li>
        					</ul>
                        </li> 
                        <li><a href="#" title="IMAC2">IMAC 2</a>
                        <ul class="subsubMenu"> 
                                <li><a href="#" title="Matiere1">Matiere 1</a></li> 
                                <li><a href="#" title="Matiere2">Matiere 2</a></li> 
                                <li><a href="#" title="Matiere3">Matiere 3</a></li>
        					</ul>
                        </li> 
                        <li><a href="#" title="IMAC3">IMAC 3</a>
                        <ul class="subsubMenu"> 
                                <li><a href="#" title="Matiere1">Matiere 1</a></li> 
                                <li><a href="#" title="Matiere2">Matiere 2</a></li> 
                                <li><a href="#" title="Matiere3">Matiere 3</a></li>
        					</ul>
                        </li> 
                        <li><a href="#" title="Top10">Top 10</a></li>
                        <li><a href="#" title="Autre">Autres films</a></li>
        			</ul>
                </li>
                
                <li> <a href="#">EVENEMENTS </a>
                	<ul class="subMenu"> 
                        <li><a href="#" title="IMAC1">Créer un évènement</a></li> 
                        <li><a href="#" title="IMAC2">Voir les évènements</a></li> 
        			</ul>
                </li>
                <li> <a href="#">MEMBRES </a></li>
            </ul>
		  </div>
            
            <div id="content">
            
            {% block content %}
            {% endblock content %}
            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
		
        <div id="footer">
        	<p><a href="#">Contact</a>  |  <a href="#">A propos</a>  |  <a href="#">Plan du site</a>  |  <a href="#">Conditions générales du site</a></p>
            <p>Ecole d’ingénieurs IMAC - 5 boulevard Descartes - Marne-la-Vallée, France, 77454</p>
            
            <p>Copyright © Géocoucou Tous droits réservés</p>
        
        
		</div>
        
	</div>
  </body>
</html>
