<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />	
	<meta name="Authors" content="" />
	<meta name="Description" content="" />
    <title></title>    
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />   
    
  </head>
  <body>
	<div id="container">
    
    	<div id="header">
        	<div id="compte">
            	<div id="lien">
                	<a href="#"> S'inscrire</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	    |
                </div>
                <div id="logger">
                	Login :    <input name="Login" type="text" size="10" maxlength="150" style="height:12px;"/> &nbsp;
               	 	Mot de passe :    <input name="Login" type="text" size="10" maxlength="150" style="height:12px;" />
                	<input name="OK" type="button" value="OK" style="background-color:#1b242d; color:#F60; border:0,5px solid white; font-size:12,5px;"/>
                </div>
            </div>
            
            <div id="logo">
            <a href="index.html">CinéMac</a>
            </div>
            <div id="slogan">
            La référence cinéma des Imaciens.
            </div>
            
            <div id="ariane">
            <a href="index.html">Accueil</a>
            </div>
           
            
            <div id="recherche">
            Rechercher : <input name="Login" type="text" size="10" maxlength="150" style="height:12px;" />
                	<input name="OK" type="button" value="OK" style="background-color:#1b242d; color:#F60; border:0,5px solid white; font-size:12,5px;"/>
            </div>
        </div>
        
       <div id="centre">
		
            <div id="menu">
           	<ul class="topnav">
            	<li> <a href="#">FILMS </a>
                	 <ul class="subMenu"> 
                        <li><a href="#" title="IMAC1">IMAC 1</a>
                        	<ul class="subsubMenu"> 
                                <li><a href="#" title="Matiere1">Matiere 1</a></li> 
                                <li><a href="#" title="Matiere2">Matiere 2</a></li> 
                                <li><a href="#" title="Matiere3">Matiere 3</a></li>
        					</ul>
                        </li> 
                        <li><a href="#" title="IMAC2">IMAC 2</a>
                        <ul class="subsubMenu"> 
                                <li><a href="#" title="Matiere1">Matiere 1</a></li> 
                                <li><a href="#" title="Matiere2">Matiere 2</a></li> 
                                <li><a href="#" title="Matiere3">Matiere 3</a></li>
        					</ul>
                        </li> 
                        <li><a href="#" title="IMAC3">IMAC 3</a>
                        <ul class="subsubMenu"> 
                                <li><a href="#" title="Matiere1">Matiere 1</a></li> 
                                <li><a href="#" title="Matiere2">Matiere 2</a></li> 
                                <li><a href="#" title="Matiere3">Matiere 3</a></li>
        					</ul>
                        </li> 
                        <li><a href="#" title="Top10">Top 10</a></li>
                        <li><a href="#" title="Autre">Autres films</a></li>
        			</ul>
                </li>
                
                <li> <a href="#">EVENEMENTS </a>
                	<ul class="subMenu"> 
                        <li><a href="#" title="IMAC1">Créer un évènement</a></li> 
                        <li><a href="#" title="IMAC2">Voir les évènements</a></li> 
        			</ul>
                </li>
                <li> <a href="#">MEMBRES </a></li>
            </ul>
		  </div>
            
            <div id="content">
            
            	<h2>Titre du Film</h2>
                
                <p>Nulla aliquam nisl nec tellus cursus fermentum. Morbi tincidunt congue urna sit amet accumsan. Suspendisse at urna lobortis sapien pharetra lacinia. Nunc non libero tellus, vitae tincidunt metus. Nunc vel lectus id justo viverra viverra eu consectetur eros. Fusce quis enim nec erat facilisis adipiscing. Etiam eget magna facilisis nibh venenatis congue. Nullam ornare mi congue enim malesuada laoreet. Integer eleifend imperdiet tellus, sed eleifend nunc consectetur vitae. Suspendisse sit amet placerat magna. Nulla in sapien id purus fermentum rhoncus a porta elit. Pellentesque cursus lorem in ante tempor eleifend. Sed tincidunt tellus et turpis pulvinar sodales. Aliquam lacus erat, hendrerit congue laoreet vitae, ultricies eu risus. Aenean a malesuada eros. In venenatis vehicula diam nec iaculis. Cras ante metus, vehicula vel lacinia eget, sodales vitae turpis.</p>
                
                <div id="btn">
                	<a href="#"><img src="images/puce5.png" /></a>&nbsp;<a href="#"><img src="images/puce4.png" /></a>&nbsp;<a href="#"><img src="images/puce3.png" /></a>&nbsp;<a href="#"><img src="images/puce2.png" /></a>&nbsp;<a href="#"><img src="images/puce1.png" /></a>
                </div>
                
                <div id="nouveaute">
                	<img src="images/nouveaute.png" />
                </div>
                
                <div class="dernier">
                    	<p class="titreDernier">Derniers membres</p>
                        <hr />
                    
                    
                    <div class="photosDerniers">
                    	<div class="premier">
                    		<p><a href="#">Prénom & Nom</a></p>
                       	 	<img src="images/img.jpg"/>
                         </div>
                         <div class="deuxieme">
                    		<p><a href="#">Prénom & Nom</a></p>
                       	 	<img src="images/img.jpg"/>
                         </div>
                    </div>
                    
                    
                </div>
                
                <div class="dernier" >
                	<p class="titreDernier">Derniers évènements</p>
                    <hr/>
                                        
                     <div class="photosDerniers">
                    	<div class="premier">
                    		<p><a href="#">Evènement</a></p>
                       	 	<img src="images/img.jpg"/>
                         </div>
                         <div class="deuxieme">
                    		<p><a href="#">Evènement</a></p>
                       	 	<img src="images/img.jpg"/>
                         </div>
                    </div>
                	
                </div>

                
                
            </div>
            
            <div class="clear"></div>
        
        </div>
		
        <div id="footer">
        	<p><a href="#">Contact</a>  |  <a href="#">A propos</a>  |  <a href="#">Plan du site</a>  |  <a href="#">Conditions générales du site</a></p>
            <p>Ecole d’ingénieurs IMAC - 5 boulevard Descartes - Marne-la-Vallée, France, 77454</p>
            
            <p>Copyright © Géocoucou Tous droits réservés</p>
        
        
		</div>
        
	</div>
  </body>
</html>
