
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />	
	<meta name="Géocoucou" content="" />
	<meta name="Cinemac" content="" />
    <title></title>    
	
	<!-- CSS -->
	<link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" /> 

	
	<!-- Tabs -->
		<link type="text/css" href="/media/css/ui-lightness/jquery-ui-1.8.6.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery-ui-1.8.6.custom.min.js"></script>
		<script type="text/javascript" src="/media/js/tabs.js"></script> 	<!-- Contient le code -->

	<!-- Menu & Vieweuse -->
		<script type="text/javascript" src="/media/js/jquery.easing.1.2.js" charset="utf-8"></script>
		<script type="text/javascript" src="/media/js/jquery.wslide.js" charset="utf-8"></script>
		<script type="text/javascript" src="/media/js/jquery-1.2.1.js"></script> 
		<script type="text/javascript" src="/media/js/viewer.js"></script> 
		<script type="text/javascript" src="/media/js/menu.js"></script>		
		 
 
  </head>
  <body>
	<div id="container">
    
    	<div id="header">
		<div id="fb_like">
					<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgeocoucou.alwaysdata.net&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
				</div>
        	<div id="count">		
            	<div id="name">
                	<span>
                		{% load logged_user %}
                		{% current_user_name %}
                	</span>
                </div>
                <div id="logger">					
				 	{% load facebookconnect %}
					{% facebook_connect_login_button %}
					{% facebook_connect_script %}
                	<!--Login :    <input name="Login" type="text" size="10" maxlength="150" style="height:12px;"/> &nbsp;
               	 	Mot de passe :    <input name="Login" type="text" size="10" maxlength="150" style="height:12px;" />
                	<input name="OK" type="button" value="OK" style="background-color:#1b242d; color:#F60; border:0,5px solid white; font-size:12,5px;"/>-->
                </div>	
				
				
				
            </div>
            <div id="logo">
            <a href="/"><img src="/media/img/logo.png" alt="logo" /></a>
            </div>
			<br/><br/>
            <div id="slogan">
            La référence cinéma des Imaciens.
            </div>
            
            <div id="ariane">
            {% block ariane %}
            {% endblock ariane %}
            </div>
           
            
            <div id="research">
            Rechercher : <span id="res">
						<form method="POST" action="/resultatRecherche/">
						<input name="content" type="text" size="10" maxlength="150" style="height:12px;" />
						<input name="OK" type="submit" value="OK" style="background-color:#1b242d; color:#F60; border:0,5px solid white; font-size:12px;"/>
					</form></span>
			</div>
        </div>
        
       <div id="centre">
			<div id="menu">
				<ul class="navigation"> 
					<li class="toggleSubMenu"><span>Films</span></a>
						<ul class="subMenu"> 
							<li class="toggleSubSubMenu"><span>IMAC1</span></a>
								<ul class="subSubMenu"> 
									<li><a href="/listeFilms/" title="Expression et écriture">Expression et écriture</a></li> 
									<li><a href="/listeFilms/" title="Archives et restauration">Archives et restauration</a></li> 		 
								</ul> 
							</li>
							<li class="toggleSubSubMenu"><span>IMAC2</span>
								<ul class="subSubMenu"> 
									<li><a href="/listeFilms/" title="Dramaturgie">Dramaturgie</a></li> 
									<li><a href="/listeFilms/" title="Sociologie des médias">Sociologie des médias</a></li> 
									<li><a href="/listeFilms/" title="Cinéma d'animation">Cinéma d'animation</a></li> 				 
								</ul> 
							</li>
							<li class="toggleSubSubMenu"><span>IMAC3</span>
								<ul class="subSubMenu"> 
									<li><a href="/listeFilms/" title="Art et technologies">Art et technologies</a></li> 
									<li><a href="/listeFilms/" title="Langage et compréhension">Langage et compréhension</a></li> 
									<li><a href="/listeFilms/" title="Animation">Animation</a></li> 				 
								</ul> 
							</li>							
							<li><a href="/top10/" title="Top10">Top 10</a></li> 	
							<!-- <li><a href="/listeFilms/" title="Autres films">Autres films</a></li>  -->
						</ul> 
					</li> 
					<li class="toggleSubMenu"><span>Evénements</span> 
						<ul class="subMenu"> 
							<li><a href="/creerEvt/" title="Creer evenement">Créer un événement</a></li> 
							<li><a href="/listeEvt/" title="Voir evenements">Voir les événements</a></li> 			 
						</ul> 
					</li> 
					<li><a href="/listeMembre/" title="Membres">Membres</a></li> 
					<!--<li class="toggleSubMenu"><span>Mon compte</span> 
						<ul class="subMenu"> 
							<li><a href="/profil/" title="Voir mon profil">Voir mon profil</a></li> 
							<li><a href="/login/" title="Modifier mon profil">Modifier mon profil</a></li> 				 
							<li><a href="/listeMesInvit/" title="Mes invitations">Mes invitations</a></li> 				 
						</ul> 
					</li> -->
					{% my_account_link %}
				</ul>
			</div>
		 
            
            <div id="content"> 
				
            {% block content %}
            {% endblock content %}
            
            </div>
            
            <div class="clear">
            </div>
        
        </div>
		
        <div id="footer">
        	<p><a href="/contact/">Contact</a>  |  <a href="#">Plan du site</a>  |  <a href="/mentionsLegales/">Mentions légales</a></p>
            <p>Ecole d’ingénieurs IMAC - 5 boulevard Descartes - Marne-la-Vallée, France, 77454</p>
            
            <p>Copyright © Géocoucou Tous droits réservés</p>
        
        
		</div>
        
	</div>
  </body>
</html>
