{% extends "layout/base.html" %}

{% block ariane %}
<a href="index.html">Accueil</a> > <a href="/listeEvt/">Evènements > Voir les évènements</a> > <a href="/evenement/?uid={{event.id}}">{{ event.slug }} </a>
{% endblock ariane %}

{% block content %}
              <h2 class="infoG">{{ event.slug }}</h2>

                <div class="picture">
					{% for movie in event.get_movie.all %}
                	<img height=250 width=200 src="{{ movie.cover }}" alt="{{ movie.title }}" />
					{%endfor%}
                </div>
                
                
                <div class="info">
                
					<b>Date et heure :</b> {{ event.date }} <br/>
					<b>Lieu:</b> {{ event.location }}                    
					<br/><br/>
					<b>Autres informations: </b>{{ event.description }}
				</div>
                
                
                <div class="infoSup">
					<div id="tabs">
						<ul>
							<li><a href="#tabs-1">Informations film</a></li>
							<li><a href="#tabs-2">Invités</a></li>
						</ul>
						<div id="tabs-1">
							IMDB		| 		IMAC <br/><br/>
							<b>Réalisé par:</b> 
							{% for d in event.get_movie.all %}
								{{ d.forename }} {{ d.name }}, 
							{% endfor %}


							<br/>
							<b>Acteurs principaux:</b> 
							{% for d in event.get_movie.get_actors %}
								{{ d.forename }} {{ d.name }}, 
							{% endfor %}
							
							<br/>
							<br/><br/>
							<b>Synopsis: </b>
							{% for d in event.get_movie.get_synopsis %}
								{{ d.synopsis }}
							{% endfor %}
							
						</div>
						<div id="tabs-2">Visionneuse JQUERY</div>
					</div><!--Fin tabs-->
				</div><!--infoSup-->
            
            <div class="clear"></div>

{% endblock content %}