{% extends "layout/base.html" %}

{% block ariane %}
	{% if request_ok %}
		<a href="/">Accueil > </a>Films > IMAC 1 > Expression et écriture > {{ movie.title }}
	{% else %}
		<a href="/">Accueil > </a>Films  
	{% endif %}
{% endblock ariane %}

{% block content %}


	<div class="infoG">
        <h2>{{ movie.title }}</h2>
        <p class="like"> LIKE FB </p>
        <p>IMDB : {{ movie.rating_imdb }} / 10		| 		IMAC</p>
    </div>
	
    
    <div class="photo">
    	<img height=250 width=200 src="{{ movie.cover }}" alt="{{ movie.title }}" />
    </div>
    
    
    <div class="info">
    
    <b>Réalisé par:</b> 
    	{% for d in movie.get_directors %}
    		{{ d.forename }} {{ d.name }}, 
    	{% endfor %} <br/>
    <b>Acteurs principaux:</b>
    	{% for a in movie.get_actors %}
    		{{ a.forename }} {{ a.name }}
    	{% endfor %}<br/>
    <b>Genre:</b> 
    	{% for g in movie.get_genre %}
    		{{ g.name }}
    	{% endfor %}                     <b>Année:</b> {{ movie.year }}                    <b>Pays:</b>{{ movie.country }}<br/>
    
	    <b>Matière:</b> topic                 <b>IMAC </b>year
	
    <br/><br/>
    <b>Synopsis: </b>{{ movie.synopsis }}
    
    </div>
    
    
	<div class="infoSup">
      
	    <div id="tabs">
			<ul>
				<li><a href="#tabs-1">Points d'étude</a></li>
				<li><a href="#tabs-2">Commentaires</a></li>
				<li><a href="#tabs-3">Vous aimerez aussi</a></li>
			</ul>
						
			<div id="tabs-1">    
				{% for com in movie.coursecomment_set.all %}
					{{com}}
					{%empty%}<p> Aucun commentaire sur ce film pour le moment <br/></p>
				{% endfor %}
			</div>
			<div id="tabs-2">
				{% for content in movie.commentmovie_set.all %}
					{{content}}
					{%empty%}<p> Aucun commentaire sur ce film pour le moment <br/></p>
				{% endfor %}
			</div>
			<div id="tabs-3">
				{% for m in movie.get_suggested_movies %}
					{{m}}
					{%empty%}<p> Aucune suggestion <br/></p>
				{% endfor %}
			</div>
	
		</div>                       
    
	</div><!--infoSup-->	


{% endblock content %}
