{% extends "layout/base.html" %}

{% block ariane %}
<a href="/">Accueil</a>
{% endblock ariane %}


{% block content %}

	<h1>Bienvenue !</h1>
	<h2>CinéMac est la plateforme communautaire de l'IMAC pour en savoir plus sur le cinéma et les films étudiés à l'IMAC. </h2>
	<p> <b>Découvrir</b> de nouveaux films <br/>
	<b>Développer</b> ses connaissances à travers des points d'études <br/>
	<b>Partager</b> ses goûts avec ses amis <br/>
	<b>Organiser et participer</b> à des événements ciné<br/> </p>
	<h3>Bonne visite !</h3>
				
	<div id="viewer_navig">menu de navigation</div>
	<div>
		<ul id="viewer">
			<li><a href="/media/img/nouveaute0.png"><img src="/media/img/nouveaute0.png" alt="" /></a></li>
			<li><a href="/media/img/nouveaute1.png"><img src="/media/img/nouveaute1.png" alt="" /></a></li>
			<li><a href="/media/img/nouveaute2.png"><img src="/media/img/nouveaute2.png" alt="" /></a></li>
			<li><a href="/media/img/nouveaute3.png"><img src="/media/img/nouveaute3.png" alt="" /></a></li>
			<li><a href="/media/img/nouveaute4.png"><img src="/media/img/nouveaute4.png" alt="" /></a></li>
			<li><a href="/media/img/nouveaute5.png"><img src="/media/img/nouveaute5.png" alt="" /></a></li>
		</ul>
	</div>

	<div class="last">
		<p class="titleLast">Derniers membres</p>
		<hr />
		
		<div class="pictureLast">
        	{% for m in members %}
			<div class="first">
				<p><a href="/profil/?uid={{m.id}}">{{m.pseudo}}</a></p>
				<img height=80 width=80 src="{{m.avatar}}"/>
			 </div>
			 &nbsp;&nbsp;&nbsp;&nbsp;
             {% endfor %} 
		</div>   
	</div>
<!-- 	
	<div class="last" >
		<p class="titleLast">Derniers évènements</p>
		<hr/>
							
		 <div class="pictureLast">
		 {% for e in event %}
			<div class="first">
				<p><a href="/evenement/?mid={{e.id}}">{{e.movie.title}}</a></p>
                                <img src="{{ e.movie.cover }}" />
			 </div>
		{% endfor %} 
			
		</div>
	</div> -->
	
		<div class="last">
		<p class="titleLast">Derniers évènements</p>
		<hr />
		
		<div class="pictureLast">
        	{% for e in event %}
			<div class="first">
				<p><a href="/fichefilm/?mid={{e.id}}">{{e.movie.title}}</a></p>
				<img height=80 width=80 src="{{e.movie.cover}}"/>
			 </div>
			 &nbsp;&nbsp;&nbsp;&nbsp;
             {% endfor %} 
		</div>   
	</div>

{% endblock content %}
