{% extends "layout/base.html" %}

{% block ariane %}
<a href="/mentionsLegales/">Mentions légales</a>
{% endblock ariane %}


{% block content %}

	<h1>MENTIONS LÉGALES</h1>

<h3>Editeur du site</h3>
<p style="text-align: justify;">Le site 
<a title="Cinémac" href="http://geocoucou.alwaysdata.net/" target="_blank" style="color:black">CinéMac</a> 
édité par GéoCoucou présente l'ensemble des films étudiés pendant les années d'études des étudiants en plus des points d'études y étant associés.</p>


<h3>Informations Règlementaires</h3>
<p style="text-align: justify;">Raison Sociale : GEOCOUCOU 
<br />Gérant : Valentin Bourgoin
<br />Siège Social : Boulevard Descartes - 77454 Champs sur Marne<br />
Tél. : 01.00.00.00.00
<br />Capital social : 40 000 €
<br />N° SIREN : 31310461400454<br />
<br />L'accès au site ainsi que l'utilisation de son contenu s'effectuent dans le cadre des présentes mentions légales. 
Le fait d'accéder et de naviguer sur le site constitue de la part de l'internaute une acceptation sans réserve de l'ensemble des précisions suivantes :</p>

<h3>Hébergement du site<br /></h3>
<p style="text-align: justify;">Conception, création graphique et hébergement du site : GEOCOUCOU, création de sites Internet, Référencement &amp; 
Webmarketing - Boulevard Descartes - 77454 Champs sur Marne - Contact : Lucie CORDINA.</p>

<h3>CNIL</h3>
<p>Le site 
<a title="Cinémac" href="http://geocoucou.alwaysdata.net/" target="_blank" style="color:black">CinéMac</a>  de GEOCOUCOU est déclaré à la CNIL sous le numéro : XXXXXX. 
Tous droits réservés à GEOCOUCOU.</p>

<h3>Loi Informatique &amp; Liberté</h3>
<p style="text-align: justify;">Conformément à la loi numéro 78-17 du 6 janvier 1978 relative à l'informatique, 
aux fichiers et aux libertés dite "Loi Informatique et Libertés", vous disposez d'un droit d'opposition, d'accès, de modification, 
de rectification et de suppression des informations nominatives vous concernant. Vous pouvez l'exercer en adressant un courrier électronique à contact.</p>

<h3>Droit d'auteur &amp; Copyright - propriété intellectuelle<br /></h3>
<p style="text-align: justify;">Copyright des photographies disponibles sur le site 
<a title="Cinémac" href="http://geocoucou.alwaysdata.net/" target="_blank" style="color:black">CinéMac</a>  . Conformément à la loi de droit d'auteur et du copyright, l'utilisation frauduleuse d'une oeuvre photo sans accord est passible de poursuite en justice.</p>
<p style="text-align: justify;">Le site dans son ensemble, ainsi que les éléments qui le composent (notamment textes, arborescence, logiciels, animations, photographies, illustrations, schémas, représentations graphiques, logos, etc.) constituent des œuvres de l'esprit protégées par les articles L.111-1 et suivants du Code de la propriété intellectuelle. Sauf mention contraire, le site ainsi que les éléments qui le composent sont la propriété exclusive de GEOCOUCOU seule habilitée à utiliser les droits de propriété intellectuelle et droits de la personnalité y afférant.</p>
<p style="text-align: justify;">L'usage de tout ou partie du site, notamment par téléchargement, reproduction, transmission, représentation ou diffusion à d'autres fins que pour l'usage personnel et privé dans un but non commercial de l'internaute est strictement interdit. La violation de ces dispositions soumet son auteur aux sanctions prévues tant par le Code de la propriété intellectuelle au titre notamment de la contrefaçon de droits d'auteur (article L.335-3), de droit des marques (article L.716-9), que par le Code civil en matière de responsabilité civile (article 9, articles 1382 et suivants).</p>

<h3>Responsabilité - Liens hypertexte<br /></h3>
<p style="text-align: justify;">GEOCOUCOU s'efforce d'assurer au mieux de ses possibilités l'exactitude et la mise à jour des informations diffusées sur le site, dont il se réserve le droit de corriger, à tout moment et sans préavis, le contenu. Toutefois, GEOCOUCOU ne saurait garantir l'exactitude, la précision et l'exhaustivité des informations mises à disposition sur le site, lesquelles informations ne constituent ni une garantie ni un engagement à l'égard de l'internaute.</p>
<p style="text-align: justify;">Le directeur de la publication peut mettre en place des liens vers d'autres sites Internet ou d'autres sources Internet. Toutefois, celui-ci n’étant pas l’éditeur de ces sites, il ne peut en contrôler le contenu. De ce fait, le directeur de la publication ne pourra pas être tenu pour responsable du contenu des sites, des éventuelles collectes ou transmission de données effectuées par ces sites et ainsi accessibles ou tout autre procédé tendant aux mêmes fins.</p>
<p style="text-align: justify;">Les utilisateurs et visiteurs du site ne peuvent pas mettre en place un lien hypertexte en direction du site sans l'autorisation préalable écrite du directeur de la publication. Toute demande tendant à cette fin doit être adressée à contact.</p>

{% endblock content %}
