{% extends "layout/base.html" %}

{% block ariane %}
<a href="index.html">Acceuil > Mon profil</a>
{% endblock ariane %}

{% block content %}
<h2 class="infoG">Prénom NOM</h2>
          
                <div class="photo">
                </div>
                
                
                <div class="info">
                
                    <b>Promotion IMAC / PROF / Extérieur </b><br/><br/>
                    <b>Nombre de films notés :</b> 1<br/>
                    <b>Moyenne des notes attribuées :</b> ****<br/><br/>
                    <b>Evènements auxquels j'ai participés :</b> <u>event</u>,<u>event</u><br/>
                    <b>Evènements créés :</b> <u>event</u>,<u>event</u> <br/>

                </div>
                
                
                <div class="infoSup">
                  
                  <div id="tabs">
			<ul>
				<li><a href="#tabs-1">Films préférés</a></li>
				<!--<li><a href="#tabs-2">Commentaires</a></li>
				<li><a href="#tabs-3">Vous aimerez aussi</a></li>-->
			</ul>
			<div id="tabs-1">
			Visionneuse JQUERY
            
            </div>
			<!--<div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
			<div id="tabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>-->
		</div>
                  
                  
                </div><!--Fin tabs-->
                              
                
            </div><!--infoSup-->
            

{% endblock content %}