{% extends "layout/base.html" %}

{% block ariane %}
<a href="/">Accueil > </a>Résultats de la recherche
{% endblock ariane %}

{% block content %}
	
	{% if films_list != None %}
		<h2 class="infoG">Résultat(s) de la recherche</h2>
	{% else %}
		<h2 class="infoG">Liste des membres</h2>
	{% endif %}
                
                
				{% if films_list != None %}
					<div class="headpiece">
						<span class="left">
							{% if films_list.count == 1%}
								Votre recherche a retourné {{number}} résultat.
							{% else %}
								Votre recherche a retourné {{number}} résultats.
							{% endif %}
							
						</span>
						<span class="center">
						<FORM>
							<SELECT name="affichage" size="1">
								<OPTION>Trier par
								<OPTION>Film
								<OPTION>Réalisateur
								<OPTION>Membres
								<OPTION>Catégorie
							</SELECT>
						</FORM>
					</div>
				{% endif %}
               
                <div class="Resultatlisting">
						{% if films_list != None %}
							<span><b><u>Films correspondant à votre recherche : </u></b></span>

							{% if films_list.count == 0 %}
								<p> Aucun film ne correspond à cette recherche <br/></p>
							{% endif %}
							{% for film in films_list %}
							<div class="listing">
									<img src="/media/img/img.jpg" />
									<div class="info">
										<b>{{film.title}}</b><br/>
										<b>IMDB :</b> {{film.rating_imdb}} | <b>IMAC : </b> **** <br/>
										<b>Genre:</b> {{film.genre}} <br/><b>Matière:</b>{{film.course}}                   
									</div>
								</div>
								<div class="button">
								   <span><a href="/fichefilm?mid={{film.id}}">VOIR CETTE FICHE</a></span>
								</div>
							</div>
							{% endfor %}
						{% endif %}
						
                    {% if artists_list != None %}
						<span><b><u>Acteurs et réalisateurs correspondant à votre recherche : </u></b></span>
                
						{% if artists_list.count == 0 %}
							<p> Aucun réalisateur ne correspond à cette recherche <br/></p>
						{% endif %}
						{% for artist in artists_list %}
						<div class="listing">
							<img src="/media/img/img.jpg" />
							<div class="info">
								<b>{{artist.name}}</b><br/>
								<b>Catégorie</b> IMAC3                 
							</div>
							
							 <!--<div class="button">
							   <span><a href="#">VOIR CETTE FICHE</a></span>
							 </div>-->
						</div>
						{% endfor %}
					{% endif %}
					 
					{% if films_list != None %}
						<span><b><u>Membres correspondant à votre recherche : </u></b></span>
					{% endif %}
					{% if members_list != None %}
						{% if members_list.count == 0 %}
							<p> Aucun membre ne correspond à cette recherche <br/></p>
						{% endif %}
						{% for member in members_list %}
						<div class="listing">
							<img src="/media/img/img.jpg" />
							<div class="info">
								<b>{{member.pseudo}}</b><br/>
								<b>Catégorie</b> IMAC3                 
							</div>
							
							 <div class="button">
							   <span><a href="/profil">VOIR CETTE FICHE</a></span>
							 </div>
						</div>
						{% endfor %}
					{% endif %}
              
                

            

{% endblock content %}