/* Reset */
html { font-family:Arial,Verdana,San-serif; }
img{border:none;}
a { color:white; text-decoration:none; outline: none; }
a:hover { color:#F60; text-decoration:underline; }
a img { border:none; }

.clear
{
	margin-top:1%;
	clear:both;
}


body 
{
	background-color:#37485c;
	font-size:12px;
}

#container 
{ 	
	width:1000px;
	height:auto;
/*	float:center;*/
	margin-left:auto;
	margin-right:auto;
	/*border: 2px solid red;*/

}




/***************************************************************************/
#header
{
	/*border:2px solid blue;*/
	background-color#FFFFFF;
	background-image:url(/media/img/top.jpg);
	width:1000px;
	height:235px;
	color:#FFF;
	margin-bottom:-0.4%;

}

#header a:hover
{
	color:#FFF;
	text-decoration:none;

}

#count
{
	
	margin:4px 10px 0px 0px;
	width:480px;
	float:right;
	
}

#link
{
	color:#FFF;
	float:left;
	margin-top:1%;
}
#link a
{
	color:#FFF;
	text-decoration:underline;
	
}

#link a:hover
{
	color:#FFF;
	text-decoration:none
	
}

#logger
{
	float:right;
	margin-left:-5%;
	margin-right:2%;

}


#logo
{
	margin-top: 6%;
	margin-left:5%;
	/*border:2px solid #0FF;*/
	width:263px;
	height:53px;
	float:left;
	font-variant:small-caps;
	font-weight:bold;
	font-size:70px;
	
}

#slogan
{
	/*border:2px solid  #09F;*/
	margin-top:10%;
	margin-left:-23%;
	
	font-variant:small-caps;
	font-weight:bold;
	float:left;
	font-size:30px;
	color:#F63;
	
}

#ariane
{
	/*border:2px solid #F0F;*/
	width:500px;
	float:left;
	margin-top:6.5%;
	margin-left:5%;
	

	
}

#research
{
	/*border:2px solid #F3F;*/
	width:240px;
	margin-top:6.5%;
	margin-left:auto;
	margin-right:auto;
	
	float:right;
	
}

#research #res
{
	float:right;
		margin-right:5%;
}



/***************************************************************************/

#centre
{
	background-color:#FFF;
	height:auto;
}



/************* MENU *******************/
#menu
{
	background-image:url(/media/img/bord_menu.png);
	background-repeat:no-repeat;
	background-color: #fff;
	width:241px;
	height:auto;
	float:left;	
	margin-left:0.5%;
	
	
}

.navigation
{
	margin-top:15%;
    padding: 0; 
    list-style: none; 
    /*background-color: #000; */
    color: #fff; 
    width: 195px; 
    font-size: 14px;
	height:auto;
	
	/*float:left;	
	margin-left:15px;
	margin-top:15px;*/
	margin-left:9%;
	background:url(/media/img/btn_Menu.jpg) left bottom no-repeat;
} 
.navigation a, .navigation span 
{ 
    display: block; 
    padding: 4px 10px; 
    color: #fff; 
    text-decoration: none; 
    /*background: #7c8896 left bottom no-repeat; */
	text-align:center;
	background:url(/media/img/btn_Menu.jpg) left bottom no-repeat;
} 
 .navigation .toggleSubMenu a, .navigation .toggleSubMenu span 
 { 
 
    /*background: #7c8896; */ 
	background:url(/media/img/btn_Menu.jpg) left bottom no-repeat;
	text-align:center;
 } 
 
 .navigation .toggleSubSubMenu a, .navigation .toggleSubSubMenu span 
 { 
	 background: #7c8896;
	text-align:left;
	margin-left:-2%;
 } 

 
 .navigation a:hover, .navigation a:focus, .navigation a:active 
 { 
   /* background: #617183 0 0 repeat-x; */
   font-weight:bold;
 } 
 
 .navigation .subMenu
 { 
 	
 	color:#000;
    font-size: 13px;
	width: 190px;
    background: #e2e4e7 0 0 repeat-x;
   /* font-size: .9em; */
    margin: 0; 
    padding: 0; 
    /*border-bottom: 1px solid #666; */
	list-style: none; 
 } 
.navigation .subMenu a:hover 
{
	font-weight:bold;
	/*text-decoration:underline;*/
	/*font-weight:bold;*/
	/*border-bottom: 1px dotted #7c8896; */
 } 
 .navigation ul.subMenu a 
 { 
 	color:#000;	
    background: none; 
    padding: 1px 20px; 
 }
 .navigation .subSubMenu 
 { 
    font-size: 13px; 
   /* background: #3a4c62 0 0 repeat-x; */
   background-color:#f1f3f4;
   
    margin: 0; 
	padding-left:-3%;
    padding: 0; 

	list-style: none; 
 } 
 .navigation .subSubMenu a:hover 
 { 
 font-weight:bold;
    /*background: #293646 0 0 repeat-x; */
	/*border-bottom: 1px dotted #7c8896;*/
	
 }
 .navigation ul.subSubMenu a
 { 
    background: none; 
    padding: 1px 20px; 
 }	  

 .navigation .subMenu a{
	text-align:left;
}


/***************************CONTENU************************************************/

#content 
{ 
	background-color:#FFF;
	/*border:2px solid red;*/
	width:720px;
	height:auto; 
	float:right;
	padding:20px 10px 0px 20px;
	margin-bottom:1%;
	text-align:justify;
}




h1
{
	color:#F30;
	text-align:justify;
	font-size:24px;
	font-weight:bold;
	margin-left:2%;
	margin-right:2%;
}

p
{
	padding-top:2%;
	margin-right:2%;
	font-size:12px;
	margin-left:2%;
	
}

/* Visionneuse des nouveautés */
#viewer_navig {width: 698px; text-align: right;  margin-bottom:10px; }
#viewer_navig a{background-color: #37485c; padding : 3px 10px;}
#viewer_navig a.wactive{
	font-weight: bold;
	background-color: #7c8896;
}



/*************************INDEX *********************************/

.last
{
	width:326px;
	height:177px;
	background-image:url(/media/img/degrade.jpg);
	background-repeat:repeat-x;
	border:1px solid black;
	margin-left:2%;
	margin-right:1%;
	margin-top: 30px;
	float:left
	
}
   
.titleLast
{
	
	font-weight:bold;
	margin-top:-1%;
	padding-left:5%;
	margin-bottom:-2%;
	font-size:14px;
	
}



hr
{
	width:90%;
}

.pictureLast
{
	
	margin-left:auto;
	margin-right:auto;
	width:250px;
	height:130px;
}

.pictureLast a
{
	color:#000;
}

.pictureLast .first
{
	float:left;
	margin-left:10%;
	margin-right:5%;
	margin-top:3%;

}

.pictureLast p
{
	margin-bottom:-1.5%;
}

.pictureLast img
{
	margin-left:1%;
}




/********************************************************************************************/

.infoG
{
	/*border:2px solid red;*/
		margin-right:1%;
}

.infoG p
{
	margin-top:-4%;
	margin-left:3%;
}

.infoG h2
{
	font-size:24px;
	margin-top:%;

}

.infoG .like
{
	border:1px solid #036;
	background-color:#E0EDFC;
	width:60px;
	height:15px;
	margin-top:-5%;
	padding:1%;
	text-align:center;
	line-height:normal;
	float:right;
}

.photo
{
	margin-top:2%;

	border:1px solid black;
	/*background-color:#99a1ac;
	background-image:url(/media/img/degrade.jpg);
	background-repeat:repeat-x;*/
	width:200px;
	height:250px;
	float:left;
	
}

.info
{
	float:right;
	margin-top:2%;
	margin-right:2%;
	margin-left:2%;
	/*border:1px solid red;*/
	width:480px;
	height:auto;
}

.info .title
{
	float:left;
	/*border:1px solid green;*/
	width:300px;
}

.info .l2
{
	float:left;
	/*border:1px solid green;*/
	width:300px;
}

.info .l3
{
	float:left;
	/*border:1px solid green;*/
	width:300px;
}

.infoSup
{
	/*border: 1px solid green;*/
	float:left;
	margin-top:3%;
	width:710px;
	color:#000;
	height:auto;
}


.headpiece
{
	 border: 1px solid #e78f08;
	 background: #f6a828 url(/media/img/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; 
	 color: #ffffff; 
	 font-weight: bold;
	 margin-right:1%;
	
	 width:710px;
	 height:40px;
}

.headpiece .left
{
	margin-left:2%;
	margin-top:1.5%;
	float:left;
}

.headpiece .center
{
	float:left;
	text-align:center;
	margin-top:1%;
	margin-left:25%;
}

.headpiece .centerbas
{
	float:left;
	text-align:center;
	margin-top:1%;
	margin-left:43%;
}

.headpiece .right
{
	float:right;
	margin-top:1%;
	margin-right:1%;
}

.Resultatlisting
{
	margin-top:1%;
	margin-bottom:1%;
	 margin-right:1%;
}

.listing
{
	border:1px solid black;
	background-color:#99a1ac;
	background-image:url(/media/img/degrade.jpg);
	background-repeat:repeat ;
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
	width:670px;
	height:auto;
	

}

.listing img
{
	margin-left:4%;
	margin-bottom:1%;
	margin-top:1%;
	width:80px;
	height:86px;
	
}

.listing .infos
{
	border:1px solid red;
	
}

.button
{
	background-image:url(/media/img/btn_Menu.jpg);
	background-repeat:no-repeat;
	width:147px;
	height:47px;
	float:right;
	margin-right:4%;
	margin-top:-11%;
	
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-decoration:none;
	line-height:48px;
		text-align:center;
}

.button a:hover
{
	color:#FFFFFF;
	text-decoration:underline;
}


#creation
{
	border:1px solid #EEE;
	background-image:url(/media/img/degradeGd.jpg);
	
	float:left;
	width:350px;
	
}

#list
{
	
	background-color:#99a1ac;
	background-image:url(/media/img/degrade.jpg);
	background-repeat:repeat ;

	margin-left:auto;
	margin-right:auto;

	float:right;
	width:300px;
	margin-right:1%;
}

.headpieceLittle
{
	 border: 1px solid #e78f08;
	 background: #f6a828 url(/media/img/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; 
	 color: #ffffff; 
	 font-weight: bold;
	 margin-right:1%;
	 height:25px;
	 width:298px;

}



.headpieceLittle .left
{
	margin-left:2%;
	margin-top:0.5%;
	float:left;
}

.headpieceLittle .right
{
	float:right;
	text-align:right;
	margin-right:3%;
	margin-top:1%;
}





.ResultatlistingLittle
{
	margin-top:2%;
	margin-bottom:2%;

}


.valid
{
	background-image:url(/media/img/btn_Menu.jpg);
	background-repeat:no-repeat;
	width:147px;
	height:47px;
	float:left;

	margin-left:50%;
	margin-bottom:2%;
	
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-decoration:none;
	line-height:48px;
	text-align:center;
}

.valid a:hover
{
	color:#FFFFFF;
	text-decoration:underline;
}

/**********************************************************************/
#footer
{
	height:93px;
	width:1000px;
	background-image:url(/media/img/bottom.jpg);
	background-repeat:repeat-x;
	margin-top:-1.5%;
	margin-left: auto;
	margin-right: auto;
	
	
}

#footer p
{
	margin-bottom:-3%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	color:#FFF;

}

#footer a
{
	color:#FFF;
}

#footer a:hover
{
	text-decoration:underline;
}

/**********************************************************************/
#formulaire
{
	border:1px solid grey;
	margin-left:auto;
	margin-right:1%;
}

#formulaire .fieldWrapper
{
	margin-top:2%;
}

#formulaire .fieldWrapper span
{
	float:left;
	margin-right:3%;
}

#formulaire .fieldWrapper .text
{
	margin-left:5%;
}
#formulaire .fieldWrapper span.text2
{
	margin-left:16%;
}
#formulaire .fieldWrapper span.msg
{
	margin-left:9%;
}

#formulaire .fieldWrapper #lab
{
	display:block;
	float:left;
	margin-left:2%;
	
}

#formulaire .fieldWrapper #labmsg
{
	display:block;
	float:left;
	margin-left:2%;
}


.btn
{
	background-image:url(/media/img/btn_Menu.jpg);
	background-repeat:no-repeat;
	width:100px;
	height:30px;
	margin-left:40%;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-decoration:none;
	text-align:center;
	margin-top:2%;
}




/* Visionneuse du profil */
#viewer_navig_profil
{
	width: 650px; 
	text-align: right;  
	margin-bottom:10px; 
}
#viewer_navig_profil a
{
	background-color:#37485c; 
	padding : 3px 10px;
}

#viewer_navig_profil a.wactive
{
	font-weight: bold;
	background-color: #7c8896;
}

