/* Reset */
html { font-family:'Nyala',Tahoma,Arial,Verdana,San-serif; }
img{border:none;}
a { color:white; text-decoration:none; }
a:hover { color:#F60; text-decoration:underline; }
a img { border:none; }

.clear
{
	clear:both;
}


body 
{
	background-color:#37485c;
	font-size:14px;
	
	
}

#container 
{ 
	
	width:1000px;
	height:auto;
/*	float:center;*/
	margin-left:auto;
	margin-right:auto;
	/*border: 2px solid red;*/

	
}




/***************************************************************************/
#header
{
	/*border:2px solid blue;*/
	background-color#FFFFFF;
	background-image:url(../img/top.jpg);
	width:1000px;
	height:235px;
	color:#FFF;
	margin-bottom:-0.4%;

}

#header a:hover
{
	color:#FFF;
	text-decoration:none;

}

#compte
{
	
	margin:4px 10px 0px 0px;
	width:480px;
	float:right;
	
}

#lien
{
	color:#FFF;
	float:left;
	margin-top:1%;
}
#lien a
{
	color:#FFF;
	text-decoration:underline;
	
}

#lien a:hover
{
	color:#FFF;
	text-decoration:none
	
}

#logger
{
	float:right;
	margin-left:-5%;
	margin-right:2%;

}


#logo
{
	margin-top: 4%;
	margin-left:5%;
	/*border:2px solid #0FF;*/
	width:263px;
	height:53px;
	float:left;
	font-variant:small-caps;
	font-weight:bold;
	font-size:70px;
	
}

#slogan
{
	/*border:2px solid  #09F;*/
	margin-top:7%;
	margin-left:-23%;
	
	font-variant:small-caps;
	font-weight:bold;
	float:left;
	font-size:35px;
	color:#F63;
	
}

#ariane
{
	/*border:2px solid #F0F;*/
	width:500px;
	float:left;
	margin-top:6.5%;
	margin-left:5%;
	

	
}

#recherche
{
	/*border:2px solid #F3F;*/
	width:230px;
	margin-top:6%;
	margin-left:auto;
	margin-right:auto;
	
	float:right;
	
}




/***************************************************************************/

#centre
{
	background-color:#FFF;
	height:auto;
}


/************* MENU *******************/
#menu
{
	
	/*border:2px solid green;*/
	background-image:url(../img/bord_menu.png);
	background-repeat:no-repeat;
	width:240px;
	height:auto;
	float:left;	
	margin-left:1%;
	margin-top:-0.5%;
}


#menu ul
{ 
	margin-top:20%;
}

#menu li
{ 
	list-style:none;
	background-image:url(../img/btn_Menu.jpg);
	width:148px;
	height:48px;
	color:#FFF;
	margin-bottom:5%;
	text-align:center;
} 
#menu li a
{ 
	color:#FFFFFF;
	font-weight: bold;
	font-size: 16px;
	text-decoration:none;
	line-height:48px;
	

	
} 
#menu li a:hover
{ 
	text-decoration:underline;
} 

#menu li ul
{ 
	display:none;
	position:absolute;
	background-color:#FFFFFF;
}




/***************************CONTENU************************************************/

#content 
{ 
	background-color:#FFF;
	/*border:2px solid red;*/
	width:720px;
	height:auto; 
	float:right;
	padding:20px 10px 20px 20px;
	text-align:justify;
}

h2
{
	color:#F30;
	text-align:justify;
	font-size:18px;
	font-weight:bold;
	margin-left:2%;
	margin-right:2%;
}

p
{
	padding-top:2%;
	margin-right:2%;
	font-size:14px;
	margin-left:2%;
	
}

#btn
{
	margin-right:3%;
}

#btn img
{
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	float:right;
}


#nouveaute
{
	float:right;
	margin-top:1%;
	margin-right:1%;
	margin-bottom:4%;
	width:698px;
	
}


.dernier
{
	width:326px;
	height:177px;
	background-image:url(../img/degrade.jpg);
	background-repeat:repeat-x;
	border:1px solid black;
	margin-left:3%;
	margin-right:1%;
	float:left
	
}
   
.titreDernier
{
	
	font-weight:bold;
	margin-top:-1%;
	padding-left:5%;
	margin-bottom:-2%;
	font-size:15px;
	
}



hr
{
	width:90%;
}

.photosDerniers
{
	
	margin-left:auto;
	margin-right:auto;
	width:250px;
	height:130px;
}

.photosDerniers a
{
	color:#000;
}

.photosDerniers .premier
{
	float:left;
	margin-left:3%;
}

.photosDerniers .deuxieme
{
	float:right;
	margin-right:3%;
}

.photosDerniers p
{
	margin-top:-1%;
}

.photosDerniers img
{
	margin-left:1%;
}

.infoG
{
	/*border:2px solid red;*/
		margin-right:1%;
}

.infoG p
{
	margin-top:-4%;
	margin-left:3%;
}

.infoG h2
{
	font-size:24px;
	margin-top:%;

}

.infoG .like
{
	border:1px solid #036;
	background-color:#E0EDFC;
	width:60px;
	height:15px;
	margin-top:-5%;
	padding:1%;
	text-align:center;
	line-height:normal;
	float:right;
}

.photo
{
	margin-top:2%;

	border:1px solid black;
	background-color:#99a1ac;
	background-image:url(../img/degrade.jpg);
	background-repeat:repeat-x;
	width:200px;
	height:250px;
	float:left;
	
}

.info
{
	float:right;
	margin-top:2%;
	margin-right:2%;
	margin-left:2%;
	/*border:1px solid red;*/
	width:480px;
	height:auto;
}
.infoSup
{
	/*border: 1px solid green;*/
	float:left;
	margin-top:3%;
	width:710px;
	color:#000;
	height:auto;
}


.bandeau
{
	 border: 1px solid #e78f08;
	 background: #f6a828 url(../img/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; 
	 color: #ffffff; 
	 font-weight: bold;
	 margin-right:1%;
	
	 width:710px;
	 height:40px;
}

.bandeau .left
{
	margin-left:2%;
	margin-top:1.5%;
	float:left;
}

.bandeau .center
{
	float:left;
	text-align:center;
	margin-top:1%;
	margin-left:25%;
}

.bandeau .centerbas
{
	float:left;
	text-align:center;
	margin-top:1%;
	margin-left:43%;
}

.bandeau .right
{
	float:right;
	margin-top:1%;
	margin-right:1%;
}

.Resultatlisting
{
	margin-top:1%;
	margin-bottom:1%;
	 margin-right:1%;
}

.listing
{
	border:1px solid black;
	background-color:#99a1ac;
	background-image:url(../img/degrade.jpg);
	background-repeat:repeat ;
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
	width:670px;
	

}

.listing img
{
	margin-left:4%;
	margin-bottom:1%;
	margin-top:1%;
}

.listing .infos
{
	border:1px solid red;
	
}

.bouton
{
	background-image:url(../img/btn_Menu.jpg);
	background-repeat:no-repeat;
	width:147px;
	height:47px;
	float:right;
	margin-right:4%;
	margin-top:-11%;
	
	color:#FFFFFF;
	font-weight: bold;
	font-size: 14px;
	text-decoration:none;
	line-height:48px;
		text-align:center;
}

.bouton a:hover
{
	color:#FFFFFF;
	text-decoration:underline;
}


#creation
{
	border:1px solid #EEE;
	background-image:url(../img/degradeGd.jpg);
	
	float:left;
	width:350px;
	
}

#list
{
	
	background-color:#99a1ac;
	background-image:url(../img/degrade.jpg);
	background-repeat:repeat ;

	margin-left:auto;
	margin-right:auto;

	float:right;
	width:300px;
	margin-right:1%;
}

.bandeauPetit
{
	 border: 1px solid #e78f08;
	 background: #f6a828 url(../img/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; 
	 color: #ffffff; 
	 font-weight: bold;
	 margin-right:1%;
	 height:25px;
	 width:298px;

}



.bandeauPetit .left
{
	margin-left:2%;
	margin-top:0.5%;
	float:left;
}

.bandeauPetit .right
{
	float:right;
	text-align:right;
	margin-right:3%;
	margin-top:1%;
}





.ResultatlistingPetit
{
	margin-top:2%;
	margin-bottom:2%;

}


.valid
{
	background-image:url(../img/btn_Menu.jpg);
	background-repeat:no-repeat;
	width:147px;
	height:47px;
	float:left;

	margin-left:50%;
	margin-bottom:2%;
	
	color:#FFFFFF;
	font-weight: bold;
	font-size: 14px;
	text-decoration:none;
	line-height:48px;
	text-align:center;
}

.valid a:hover
{
	color:#FFFFFF;
	text-decoration:underline;
}

/**********************************************************************/
#footer
{
	height:93px;
	width:1000px;
	background-image:url(../img/bottom.jpg);
	background-repeat:repeat-x;
	margin-top:-1.5%;
	
	
}

#footer p
{
	margin-bottom:-3%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	color:#FFF;

}

#footer a
{
	color:#FFF;
}

#footer a:hover
{
	text-decoration:underline;
}


/**********************************************/
/* overrides for ui-tab styles */
#widget-docs ul.ui-tabs-nav { padding:0 0 0 8px; }
#widget-docs .ui-tabs-nav li { margin:5px 5px 0 0; }

#widget-docs .ui-tabs-nav li a:link,
#widget-docs .ui-tabs-nav li a:visited,
#widget-docs .ui-tabs-nav li a:hover,
#widget-docs .ui-tabs-nav li a:active { font-size:14px; padding:4px 1.2em 3px; color:#fff; }

#widget-docs .ui-tabs-nav li.ui-tabs-selected a:link,
#widget-docs .ui-tabs-nav li.ui-tabs-selected a:visited,
#widget-docs .ui-tabs-nav li.ui-tabs-selected a:hover,
#widget-docs .ui-tabs-nav li.ui-tabs-selected a:active { color:#e6820E; }

#widget-docs .ui-tabs-panel { padding:20px 9px; font-size:12px; line-height:1.4; color:#000; }

#widget-docs .ui-widget-content a:link,
#widget-docs .ui-widget-content a:visited { color:#1b75bb; text-decoration:none; }
#widget-docs .ui-widget-content a:hover,
#widget-docs .ui-widget-content a:active { color:#0b559b; }
@charset "utf-8";
/* CSS Document */





