{% extends "layout/base.html" %}

{% block ariane %}
<a href="/">Accueil</a> > <a href="/listeEvt/">Evènement</a> > <a href="/creerEvt/">Créer un évènement</a>
{% endblock ariane %}

{% block content %}

	 <h2 class="infoG">CREER UN EVENEMENT</h2>
	
	<span>Vous souhaitez réunir vos amis ? Alors créez un évènement !</span>
	</br></br>

	 <form id="formulaireEvenement" action="/creerEvt/" method="post">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="fieldWrapper">
			<label id="lab" for="id_sender">Date:</label>
			<span class="text">{{ form.Date }} </span>
			{{ form.Date.errors }} <h5>Format : jj/mm/aa</h5>
		</div>
	
		<div class="fieldWrapper">
			{{ form.Lieu.errors }}
			<label id="lab" for="id_subject">Lieu :</label>
			<span  class="text2">{{ form.Lieu }}</span>
		</div>
		<br/>
		<div class="fieldWrapper">
			{{ form.Film.errors }}
			<label id="lab" for="id_message">Film:</label>
			<span class="film">{{ form.Film }}</span>
		</div>
		<br/>
		<br/>
		<div class="fieldWrapper">
			{{ form.Description.errors }}
			<label id="lab" for="id_message">Description:</label>
			<span class="msg">{{ form.Description }}</span>
		</div>
		<br/>
		
		<p ><input class="btn" type="submit" value="Créer" /></p>
	</form> 

{% endblock content %}