{% extends "layout/base.html" %}

{% block ariane %}
<a href="index.html">Accueil > Evènements > Voir les évènements > Evènement</a>
{% endblock ariane %}

{% block content %}
 <h2 class="infoG">EVENEMENT</h2>

                <div class="picture">
                
                </div>
                
                
                <div class="info">
                
                <b>Date:</b> date <br/>
                <b>Heure:</b> xx H xx<br/>
                <b>Lieu:</b> lieu                     
                <br/><br/>
                <b>Autres informations: </b>Nulla aliquam nisl nec tellus cursus fermentum. Morbi tincidunt congue urna sit amet accumsan. Suspendisse at urna lobortis sapien pharetra lacinia. Nunc non libero tellus, vitae tincidunt metus. Nunc vel lectus id justo viverra viverra eu consectetur eros. Fusce quis enim nec erat facilisis adipiscing. Etiam eget magna facilisis nibh venenatis congue. Nullam ornare mi congue enim malesuada laoreet. Integer eleifend imperdiet tellus, sed eleifend nunc consectetur vitae. Suspendisse sit amet placerat magna. Nulla in sapien id purus fermentum rhoncus a porta elit. Pellentesque cursus lorem in ante tempor eleifend. Sed tincidunt tellus et turpis pulvinar sodales. Aliquam lacus erat, hendrerit congue laoreet vitae, ultricies eu risus. Aenean a malesuada eros. In venenatis vehicula diam nec iaculis. Cras ante metus, vehicula vel lacinia eget, sodales vitae turpis.
                
                </div>
                
                
                <div class="infoSup">
                  
                  <div id="tabs">
			<ul>
				<li><a href="#tabs-1">Informations film</a></li>
				<li><a href="#tabs-2">Invités</a></li>
			</ul>
			<div id="tabs-1">
            	IMDB		| 		IMAC <br/><br/>
                <b>Réalisé par:</b> réa <br/>
                <b>Acteurs principaux:</b> Truc, Muche, Machin<br/>
                <br/><br/>
                <b>Synopsis: </b>Nulla aliquam nisl nec tellus cursus fermentum. Morbi tincidunt congue urna sit amet accumsan. Suspendisse at urna lobortis sapien pharetra lacinia. Nunc non libero tellus, vitae tincidunt metus. Nunc vel lectus id justo viverra viverra eu consectetur eros. Fusce quis enim nec erat facilisis adipiscing. Etiam eget magna facilisis nibh venenatis congue. Nullam ornare mi congue enim malesuada laoreet. Integer eleifend imperdiet tellus, sed eleifend nunc consectetur vitae. Suspendisse sit amet placerat magna. Nulla in sapien id purus fermentum rhoncus a porta elit. Pellentesque cursus lorem in ante tempor eleifend. Sed tincidunt tellus et turpis pulvinar sodales. Aliquam lacus erat, hendrerit congue laoreet vitae, ultricies eu risus. Aenean a malesuada eros. In venenatis vehicula diam nec iaculis. Cras ante metus, vehicula vel lacinia eget, sodales vitae turpis.
           
            
            </div>
			<div id="tabs-2">Visionneuse JQUERY</div>
		</div>
                  
                  
                </div><!--Fin tabs-->
                              
                
            </div><!--infoSup-->


{% endblock content %}