{% extends "layout/base.html" %}
				
{% block content %}
            
            	<h2>Titre du Film</h2>
                
                <p>Nulla aliquam nisl nec tellus cursus fermentum. Morbi tincidunt congue urna sit amet accumsan. Suspendisse at urna lobortis sapien pharetra lacinia. Nunc non libero tellus, vitae tincidunt metus. Nunc vel lectus id justo viverra viverra eu consectetur eros. Fusce quis enim nec erat facilisis adipiscing. Etiam eget magna facilisis nibh venenatis congue. Nullam ornare mi congue enim malesuada laoreet. Integer eleifend imperdiet tellus, sed eleifend nunc consectetur vitae. Suspendisse sit amet placerat magna. Nulla in sapien id purus fermentum rhoncus a porta elit. Pellentesque cursus lorem in ante tempor eleifend. Sed tincidunt tellus et turpis pulvinar sodales. Aliquam lacus erat, hendrerit congue laoreet vitae, ultricies eu risus. Aenean a malesuada eros. In venenatis vehicula diam nec iaculis. Cras ante metus, vehicula vel lacinia eget, sodales vitae turpis.</p>
                
                <div id="btn">
                	<a href="#"><img src="../../media/images/puce5.png" /></a>&nbsp;<a href="#"><img src="images/puce4.png" /></a>&nbsp;<a href="#"><img src="images/puce3.png" /></a>&nbsp;<a href="#"><img src="images/puce2.png" /></a>&nbsp;<a href="#"><img src="images/puce1.png" /></a>
                </div>
                
                <div id="nouveaute">
                	<img src="../../media/images/nouveaute.png" />
                </div>
                
                <div class="dernier">
                    	<p class="titreDernier">Derniers membres</p>
                        <hr />
                    
                    
                    <div class="photosDerniers">
                    	<div class="premier">
                    		<p><a href="#">Prénom & Nom</a></p>
                       	 	<img src="../../media/images/img.jpg"/>
                         </div>
                         <div class="deuxieme">
                    		<p><a href="#">Prénom & Nom</a></p>
                       	 	<img src="../../media/images/img.jpg"/>
                         </div>
                    </div>
                    
                    
                </div>
                
                <div class="dernier" >
                	<p class="titreDernier">Derniers évènements</p>
                    <hr/>
                                        
                     <div class="photosDerniers">
                    	<div class="premier">
                    		<p><a href="#">Evènement</a></p>
                       	 	<img src="../../media/images/img.jpg"/>
                         </div>
                         <div class="deuxieme">
                    		<p><a href="#">Evènement</a></p>
                       	 	<img src="../../media/images/img.jpg"/>
                         </div>
                    </div>
                	
                </div>

                
                
            </div>
			
                
			
{% endblock content %}
