{% extends "layout/base.html" %}

{% block ariane %}
<a href="/">Accueil</a>
{% endblock ariane %}


{% block content %}

	<h1>Bienvenue !</h1>

	<p>Ce site à pour but de référencer les films étudiés en cours, pendant toutes les années d'IMAC. <br/>
	N'hésitez pas à vous inscrire au site pour faire partie de la communauté. <br/>
	Bonne visite !</p>
	<br/><br/>
				
				
	<div id="viewer_navig">menu de navigation</div>
	<div>
		<ul id="viewer">
			<!-- {% for m in movie %}
			<li><a href="/fichefilm/?mid={{movie.id }}"><img src="{{ movie.cover }}" alt="{{movie.title }}" /></a></li>
			{% endfor %} -->
			<li><a href="media/img/nouveaute.png"><img src="media/img/nouveaute.png" alt="" /></a></li>
			<li><a href="media/img/nouveaute.png"><img src="media/img/nouveaute.png" alt="" /></a></li>
			<li><a href="media/img/nouveaute.png"><img src="media/img/nouveaute.png" alt="" /></a></li>
			<li><a href="media/img/nouveaute.png"><img src="media/img/nouveaute.png" alt="" /></a></li>
			<li><a href="media/img/nouveaute.png"><img src="media/img/nouveaute.png" alt="" /></a></li>
			<li><a href="media/img/nouveaute.png"><img src="media/img/nouveaute.png" alt="" /></a></li>
		</ul>
	</div>

	<div class="last">
		<p class="titleLast">Derniers membres</p>
		<hr />
		
		<div class="pictureLast">
        	{% for m in members %}
			<div class="first">
				<p><a href="/profil/?id={{m.id}}">{{m.pseudo}}</a></p>
				<img height=80 width=80 src="{{m.avatar}}"/>
			 </div>
			 &nbsp;&nbsp;&nbsp;&nbsp;
             {% endfor %} 
		</div>   
	</div>
	
	<div class="last" >
		<p class="titleLast">Derniers évènements</p>
		<hr/>
							
		 <div class="pictureLast">
		 {% for e in event %}
			<div class="first">
				<p><a href="#">Evènement</a></p>
				<img src="media/img/img.jpg"/>
			 </div>
		{% endfor %} 
			
		</div>
	</div>

{% endblock content %}
