{% extends "layout/base.html" %}

{% block ariane %}
<a href="/">Accueil</a> > <a href="/listeMembre/">Membres</a>
{% endblock ariane %}

{% block content %}
                <script type="text/javascript">
                   function menuderoulant(selection)
				   {
                       window.location="/listeMembre/?mode="+selection.options[selection.selectedIndex].value;
                   }
                </script>
                <h2 class="infoG">MEMBRES</h2>
                
                <div class="headpiece">

                <span class="left">Nombre de résultats</span> <span class="center">
                    <FORM>
                        <SELECT name="affichage" size="1" onChange="menuderoulant(this)">
                            <OPTION>Trier par</OPTION>
                            <OPTION value="pseudo">Pseudo</OPTION>
                            <OPTION value="class_year">Promo</OPTION>
                        </SELECT>
                    </FORM>
                </span>
                </div>
                
                <div class="Resultatlisting">
					{% for m in members %}
					<div class="listing">
						<img src="{{m.avatar}}" />
							<div class="info">
								<b>{{m.pseudo}}</b><br/>
								<b>Promo : </b> {{m.class_year.year}}
							</div>
					
							<div class="button">
									<span><a href="/profil/?uid={{ m.id }}">VOIR CETTE FICHE</a></span>
							</div>
					 </div>   
					{% endfor %} 						 
                </div>
 

{% endblock content %}
