{% extends "layout/base.html" %}

{% block ariane %}
<a href="/">Accueil</a> > <a href="/listeMembre/">Membres</a>
{% endblock ariane %}

{% block content %}
                <h2 class="infoG">MEMBRES</h2>
                
                <div class="headpiece">

                <span class="left">Nombre de résultats</span> <span class="center">
                    <FORM>
                        <SELECT name="affichage" size="1">
                            <OPTION>Trier par</OPTION>
                            <OPTION value="pseudo">Pseudo</OPTION>
                            <OPTION value="class_year">categorie</OPTION>
                        </SELECT>
                    </FORM>
                </span>
                </div>
                
                <div class="Resultatlisting">
			{% for m in member %}
                        <div class="listing">
                            <img src="/media/{{m.avatar}}" />
                                <div class="info">
                                    <b>{{m.pseudo}}</b><br/>
                                    <b>Categorie</b> {{m.class_year}}
                                </div>
                        
                                <div class="button">
                                        <span><a href="#">VOIR CETTE FICHE</a></span>
                                </div>
                         </div>   
			{% endfor %} 						 
                </div>
 

{% endblock content %}