 {% extends "layout/base.html" %}

{% block ariane %}
<a href="/">Accueil > <a href="/profil/">Profil</a>
{% endblock ariane %}

{% block content %}
	{% if logged %}
		<h2 class="infoG">{{ member.pseudo }}</h2>
		<div class="photo">
		</div>
			
		<div class="info">
			
			<b>{{ member.class_year.year }}</b><br/><br/>
			<b>Nombre de films notés :</b> 1<br/>
			<b>Moyenne des notes attribuées :</b> ****<br/><br/>
			<b>Evènements auxquels j'ai participés :</b> <u>event</u>,<u>event</u><br/>
			<b>Evènements créés :</b> <u>event</u>,<u>event</u> <br/>

		</div>
			
	
		<div class="infoSup">		
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">Mes films préférés</a></li>
					
				</ul>
				<div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
				magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
</div>
		</div><!--infoSup-->
		
		<div class="clear">
		</div>

	{% else %}
		<div>
			<p> aucun film correspondant </p>
		</div>
	{% endif %}

{% endblock content %}
