 {% extends "layout/base.html" %}

{% block ariane %}
<a href="/">Accueil > <a href="/listeMembre/">Membres</a> > <a href="/profil/?id={{member.id}}">{{ member.pseudo }} </a>
{% endblock ariane %}

{% block content %}
	<h2 class="infoG">{{ member.pseudo }}</h2>
	<div class="photo">
	<img height=250 width=200 src="{{ member.avatar }}" alt="{{ member.pseudo }}" />
	</div>
		
	<div class="info">
		
		<b>{{ member.class_year.year }}</b><br/><br/>
		<b>Nombre de films notés :</b> 1<br/>
		<b>Moyenne des notes attribuées :</b> ****<br/><br/>
		<b>Evènements auxquels j'ai participés :</b> <u>event</u>,<u>event</u><br/>
		<b>Evènements créés :</b> <u>event</u>,<u>event</u> <br/>

		</div>
	
		<div class="infoSup">		
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">Mes films préférés</a></li>
					
				</ul>
				<div id="tabs-1">
					<div id="viewer_navig_profil">menu de navigation</div>
						<div>
							<ul id="viewerProfil">
								<li><a href="/media/img/nouveaute.png"><img src="/media/img/nouveaute.png" alt="" /></a></li>
								<li><a href="/media/img/nouveaute.png"><img src="/media/img/nouveaute.png" alt="" /></a></li>
								<li><a href="/media/img/nouveaute.png"><img src="/media/img/nouveaute.png" alt="" /></a></li>
								<li><a href="/media/img/nouveaute.png"><img src="/media/img/nouveaute.png" alt="" /></a></li>
								<li><a href="/media/img/nouveaute.png"><img src="/media/img/nouveaute.png" alt="" /></a></li>
								<li><a href="/media/img/nouveaute.png"><img src="/media/img/nouveaute.png" alt="" /></a></li>
							</ul>
						</div>

				</div>
			</div>

		</div><!--infoSup-->
	
	<div class="clear">
	</div>

{% endblock content %}
